/* 一覧 */
.app-table {
  table-layout: fixed;
}

.text-overflow {
  white-space: nowrap;
}



/* 詳細 */
span.font-impact {
  font-size: 16px;
}


.btn-warning{
  background-color: rgb(18, 158, 239);
}

.btn-info{
  background-color: rgb(247, 56, 167);
}



.description{
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  
}

a.btn {
  font-weight: 700;
  height: 36px;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
  position: relative;
  top: 0px; 
}

a.btn-link {
  font-weight: 700;
  height: 36px;
}

.btn-light{
  background-color: gray;
}

/* PC */

.app-show-container {
  width: 100%;
}

/* タブレット */
@media (max-width: 768px) {
  /* 一覧 */
  .for-tablet {
    display: none;
  }
  .app-show-container {
    width: 1500px;
    height: 3000px;
  }
  span.font-impact {
    font-size: 16px;
  }
}

/* スマホ */
@media (max-device-width: 500px) {
  /* 一覧 */
  .for-pc.for-tablet {
    display: none;
  }
  
  .app-show-container {
    width: 1500px;
  }
  span.font-impact {
    font-size: xx-large;
  }

}
