<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>税額リスト</h1>
  <hr />
  <a th:href="@{/taxAmount/new}">新規作成</a><br /><br />
  <table class="table">
    <thead>
      <tr>
        <th>税名</th>
        <th>税率</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="taxAmount : ${taxAmounts}">
        <td th:text="${taxAmount.name}"></td>
        <td th:text="${taxAmount.rate} + '%'"></td>
        <td>
          <a class="btn btn-primary" th:href="@{/taxAmount/show/{id}(id = ${taxAmount.id})}">参照</a>
          <form class="d-inline" th:action="@{/taxAmount/{id}(id = ${taxAmount.id})}" th:method="delete">
            <button class="btn btn-danger" type="submit">削除</button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</th:block>
</html>
