<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{layout/layout}">
<th:block layout:fragment="content">
  <h1>ショップ詳細</h1>
  <hr />
  <div class="form-group">
    <label for="name">名前: </label>
    <span th:text="${shop.name}"></span>
  </div>
  <div class="form-group">
    <label for="address">アドレス: </label>
    <span th:text="${shop.address}"></span>
  </div>
  <div class="form-group">
    <label for="contact">コンタクト: </label>
    <span th:text="${shop.contact}"></span>
  </div>

  <a class="btn btn-link" th:href="@{/shops/{id}/products(id = ${shop.id})}">紐づく商品一覧へ</a>
  <br />
  <a class="btn btn-link" th:href="@{/shops/{id}/edit(id = ${shop.id})}">編集</a>
  <br />
  <form th:action="@{/shops/{id}(id = ${shop.id})}" th:method="delete">
    <button class="btn btn-link" type="submit">削除</button>
  </form>
  <a class="btn btn-link" th:href="@{/shops}">一覧へ戻る</a>
  <br />
</th:block>

</html>
